@model WebDocTruyen.Context.Truyen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align: center; color: red; margin-left: 300px;">Bạn có chắc muốn xoá không ?</h3>
<div style="margin-left:300px;">
    <h4>Truyện</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ma_Truyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ma_Truyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten_Truyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_Truyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa_Truyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa_Truyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang_Truyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang_Truyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ma_Theloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ma_Theloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ma_Nguoidung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ma_Nguoidung)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete","HomeAdmin", FormMethod.Post, new {enctype = "multipart/form-data"})) {

        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "DanhSach")
        </div>
    }
</div>
